html {
  font-family: Georgia, serif;
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #495562;
}

header {
  background-color: #495562;
}

@media only screen and (min-width: 38em) {

  .banner {
    max-height: 500px;
  }

  .btn {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  html {
    color: #efefef;
  }

  header {
    position: relative;
  }

  .banner-content {
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}
